body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background: #F3EFE0;
    font-size: 15px;
    line-height: 1.64;
}

html,
body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
strong,
b {
    font-family: 'Open Sans', sans-serif !important;
    margin-bottom: 20px;
}

#technicalSkills h6 {
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: bold;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #434242;
}

h2 {
    font-size: 54px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

h1,
h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

h4 {
    font-size: 16px;
}

h1 {
    font-size: 54px;
    color: #22A39F;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 10px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: auto;
    text-align: center;
}

h2,
h3 {
    font-weight: 300;
    color: #22A39F;
}

/* Projects */
#projects .project {
    margin-bottom: 20px;
}

#projects .project {
    margin-bottom: 20px;
}

#projects .project p>strong {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#projects .projects .academic-details {
    display: block;
    margin-top: 6px;
}

#projects .projects .project-details * {
    color: #22A39F;
}

#projects .project-details>span {
    display: block;
    margin-bottom: 6px;
    text-align: left;
}

.project-summary {
    text-align: left;
}

/* Education */
#education .academic {
    margin-bottom: 20px;
}

#education .academics {
    margin-bottom: 20px;
}

#education .academics p>strong {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#education .academics .academic-details {
    display: block;
    margin-top: 6px;
}

#education .academics .academic-details * {
    color: #22A39F;
}

#education .academic-details>span {
    display: block;
    margin-bottom: 6px;
    text-align: left;
}

.academics-summary {
    text-align: left;
}

#education .academics .academic-details .separator {
    color: #BCBCBC;
}

/* Experience */
#experiences .experience p>strong {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

#experiences .experience .experience-details {
    display: block;
    margin-top: 6px;
}

h3 {
    text-align: center;
}

/* span {
    outline: 1px solid #cc2643 !important;
} */

#experiences .experience .experience-details * {
    color: #22A39F;
}

#experiences .experience-details>span {
    display: block;
    margin-bottom: 6px;
    text-align: left;
}

.experience-summary {
    text-align: left;
}

#experiences .experience .experience-details .seperator {
    display: none;
}

#experiences .experience .experience-details .seperator {
    color: #BCBCBC;
}

.container {
    max-width: 1280px;
    padding: 10px 180px;
}

.background-white {
    background: #FFFFFF;
}

#technicalSkills ul>li .skills-title {
    display: inline-block;
    width: 70%;
    text-align: left;
    margin-left: 1em;
}

hr {
    margin: 40px 0px;
    border-color: #727878;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.no-bullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#technicalSkills ul>li .skills-score {
    float: right;
    font-size: 14px;
    transition: all 0.3s;
    color: #22A39F;
}

#technicalSkills ul>li .skills-score:hover {
    transform: scale(1.2);
}

#technicalSkills ul>li .skills-score .glyphicon.filled {
    color: #22A39F;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.hidden-phone {
    text-align: left;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

@media (max-width: 767px) {
    .container {
        padding: 60px 20px;
        min-width: 280px;
    }

    .hidden-phone {
        display: none;
    }
}

.background-gray {
    background: #434242;
}

#contact a .icon {
    float: left;
    margin-right: 0px;
}

#contact a {
    display: block;
    line-height: 32px;
    margin-bottom: 20px;
    opacity: 0.6;
}

.icon.icon-twitter {
    background-position: 0px 0px;
}

.icon {
    display: inline-block;
    height: 32px;
    width: 32px;
}

#contact a .icon {
    float: left;
    margin-right: 20px;
}

#contact .row * {
    color: #FFFFFF;
}

#projects img {
    height: 120px;
    width: 350px;
}

#contact a:hover {
    opacity: 1;
    text-decoration: none;
    transform: scale(1);
    color: #FFFFFF;
}

#contact {
    padding-bottom: 100px;
}

#projects a:hover {
    outline: 0px;
}

#menu .menuItem .menuItems {
    float: right;
    margin-right: 10px;
    text-decoration: none;

}

#menu.container {
    padding: 0px;
    max-width: 1800px;
}

.nav {
    justify-content: end;
}

.nav-container {
    background-color: #E4F9F5;
}

.nav-link {
    color: #22A39F;
}

nav .nav-link:hover,
nav .nav-link:focus {
    color: black !important;
    text-transform: uppercase;
    background-color: #22A39F;
}

i {
    padding-right: 5px;
}