<div">
    <h2>Work Experience</h2>
    <hr>
    <h3>Careers</h3>
    <div class="row">
        <div class="experiences">

            <div class="experience row">
                <div class="col-md-4">
                    <h4>Boeing India Pvt. Ltd.</h4>
                    <p><b>Project: </b>DAS - AMS</p>
                    <p>Feb 2023 to Till Date</p>
                    <p>Full Time</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Software Engineer</strong>
                        <span class="experience-summary">
                            Software Engineer
                        </span>
                        <span class="experience-details">
                            <span class="location">
                                <span><i class="fa-solid fa-location-dot fw"></i>Bengaluru</span>
                                <span class="separator">|</span>
                                <span class="link">
                                    <a href="https://www.boeing.co.in/" target="_blank"><i
                                            class="fa-solid fa-link fw"></i>https://www.boeing.co.in/</a>
                                </span>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Unify Technologies Pvt. Ltd.</h4>
                    <p><b>Project: </b>StockX</p>
                    <p>May 2020 to Feb 2023</p>
                    <p>Full Time</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Sr. Software Development Engineer in Test</strong>
                        <span class="experience-summary">
                            I worked as a senior SDET at UNIFY Technologies, and the project is StockX, where I worked
                            on frontend
                            and backend manual and automation testing of the application. participate in load testing.
                            These are the
                            tools and technologies currently being used for Other tools for testing include JavaScript,
                            Typescript,
                            NodeJS, WebDriverIO, Appium, Puppeteer, Cucumber, Jest, Postman, AWS, SauceLabs, Axios,
                            JMeter, K6,
                            CircleCI, and others.
                        </span>
                        <span class="experience-details">
                            <span class="location">
                                <span><i class="fa-solid fa-location-dot fw"></i>Hyderabad</span>
                                <span class="separator">|</span>
                                <span class="link">
                                    <a href="https://unifytech.com/home" target="_blank"><i
                                            class="fa-solid fa-link fw"></i>https://unifytech.com/home</a>
                                </span>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
            <div class="experience row">
                <div class="col-md-4">
                    <h4>Zen Quality Assurance Pvt. Ltd.</h4>
                    <p>Aug 2018 to May 2020</p>
                    <p>Full Time</p>

                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Sr. Test Automation Engineer</strong>
                        <span class="experience-summary">
                            I worked as a senior test automation engineer at ZenQ. Here I worked on several projects,
                            including
                            retail and e-commerce applications. designed two automation frameworks for both FE and BE
                            from scratch
                            on the Node.js platform.
                        </span>
                        <span class="experience-details">
                            <span class="location">
                                <span><i class="fa-solid fa-location-dot fw"></i>Hyderabad</span>
                                <span class="separator">|</span>
                                <span class="link">
                                    <span></span>
                                    <a href="https://www.zenq.com/" target="_blank"><i
                                            class="fa-solid fa-link fw"></i>https://www.zenq.com/</a>
                                </span>
                            </span>
                        </span>
                    </p>
                </div>
            </div>

            <div class="experience row">
                <div class="col-md-4">
                    <h4>Handssys Software Technologies Pvt. Ltd.</h4>
                    <p>May 2015 to July 2018</p>
                    <p>Full Time</p>
                </div>
                <div class="col-md-8">
                    <p>
                        <strong>Test Engineer</strong>
                        <span class="experience-summary">
                            I started my career as a test associate at Handssys before being promoted to test engineer.
                        </span>
                        <span class="experience-details">
                            <span class="location">
                                <span><i class="fa-solid fa-location-dot fw"></i>Hyderabad</span>
                                <span class="separator">|</span>
                                <span class="link">
                                    <span></span>
                                    <a href="http://handssys.com/" target="_blank"><i
                                            class="fa-solid fa-link fw"></i>http://handssys.com/</a>
                                </span>
                            </span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>